Repository ghxstship/atlvs: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, e2e

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 80%
        threshold: 1%

  precision: 2
  round: down
  range: "70...100"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/*.stories.tsx"
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/node_modules/**"
  - "**/.next/**"
  - "**/dist/**"
  - "**/coverage/**"

flags:
  unit:
    paths:
      - apps/
      - packages/
    carryforward: true
  integration:
    paths:
      - apps/
      - packages/
    carryforward: true
  e2e:
    paths:
      - apps/web/
    carryforward: true

refactor(marketing): normalize spacing utilities
  apps/web/app/_components/lib/layouts.ts
  apps/web/app/_components/lib/spacing.ts
  apps/web/app/_components/marketing/layout/Section.tsx
Due: unit, integration, e2e

fix(branding): bundle default brand config fallback
  apps/web/tsconfig.json
  packages/shared/src/platform/brand/server.ts
  tsconfig.base.json
  tsconfig.json
Due: unit, integration, e2e

fix(branding): derive surface colors from brand config
  packages/shared/src/platform/brand/theme-generator.ts
Due: unit, integration

fix: restore marketing animations utilities
  packages/ui/src/components/index.ts
  packages/ui/src/components/marketing/animations.tsx
Due: unit, integration

feat: implement enterprise-grade UI/UX hardening foundation
  .github/workflows/accessibility.yml
  .github/workflows/performance.yml
  .github/workflows/visual-regression.yml
  .storybook/main.ts
  .storybook/preview.ts
  apps/web/app/_components/marketing/layout/Section.stories.tsx
  docs/analytics-instrumentation-plan.md
  docs/sprints/accessibility-performance-baselining-sprint.md
  docs/ui-ux-hardening-charter.md
  lighthouserc.json
  package.json
  packages/analytics/src/index.ts
  packages/analytics/src/marketing.ts
  packages/ui/src/components/marketing/animations.ts
Due: unit, integration

feat: implement analytics tracking foundation
  .github/ISSUE_TEMPLATE/quality-issue-report.yml
  apps/web/app/(marketing)/home/page.tsx
  docs/baseline-quality-assessment.md
  packages/analytics/src/marketing.ts
Due: unit, integration, e2e

fix: resolve TypeScript errors and improve code quality
  .github/workflows/visual-regression.yml
  app.ts
  apps/web/app/(marketing)/solutions/themed-theatrical-entertainment/page.tsx
  apps/web/app/(marketing)/terms/page.tsx
  apps/web/app/_components/marketing/layout/Section.tsx
  packages/analytics/src/marketing.ts
  packages/ui/src/hooks/index.ts
  packages/ui/src/hooks/useLocalStorage.ts
  packages/ui/src/index.ts
  tests/integration/projects-api.test.ts.backup
  tests/security/comprehensive-security.test.ts
  tests/setup.ts
  tests/unit/hooks/useLocalStorage.test.ts
  tooling/cli/src/commands/generate.ts
Due: unit, integration, e2e

chore: remove backup file
  tests/integration/projects-api.test.ts.backup
Due: none

fix: resolve Next.js build errors and complete about page implementation
  apps/web/app/(marketing)/company/about/page.tsx
  packages/ui/src/hooks/useBulkOperations.ts
  packages/ui/src/hooks/useLocalStorage.ts
  packages/ui/src/hooks/useOffline.ts
  packages/ui/src/hooks/useOptimisticUpdate.ts
Due: unit, integration, e2e

fix: stabilize root middleware & critters dependency
  apps/web/middleware.ts
  apps/web/package.json
  pnpm-lock.yaml
Due: unit, integration, e2e

fix: resolve TypeScript errors and linting issues in marketing components
  apps/web/app/_components/marketing/FeatureCard.tsx
  apps/web/app/_components/marketing/HeroSection.tsx
  apps/web/app/_components/marketing/MarketingHeader.tsx
  apps/web/app/_components/marketing/SocialProof.tsx
  apps/web/app/_components/marketing/TrustSignals.tsx
  apps/web/app/_components/marketing/navigation/MobileMenu.tsx
  apps/web/app/_components/marketing/pricing/TrustIndicators.tsx
  apps/web/branding/config/default.brand.json
  apps/web/public/branding/config/atlvs.brand.json
  apps/web/public/branding/config/brands.json
  apps/web/public/branding/config/default.brand.json
  apps/web/public/branding/config/ghxstship.brand.json
  apps/web/public/branding/config/opendeck.brand.json
  apps/web/public/branding/config/whitelabel.brand.json
  branding/config/atlvs.brand.json
  branding/config/brands.json
  branding/config/ghxstship.brand.json
  branding/config/opendeck.brand.json
  branding/config/whitelabel.brand.json
  packages/shared/src/platform/brand/server.ts
  packages/ui/src/styles.css
  tests/integration/projects-api.test.ts
Due: unit, integration, e2e

fix: handle brand detection on preview domains
  apps/web/middleware/brand-detection.ts
Due: unit, integration, e2e

chore(branding): bundle brand configs and assets
  apps/web/app/_components/marketing/PerformanceOptimizations.tsx
  apps/web/app/layout.tsx
  apps/web/public/logos/amazon.svg
  apps/web/public/logos/apple.svg
  apps/web/public/logos/disney.svg
  apps/web/public/logos/netflix.svg
  apps/web/public/logos/paramount.svg
  apps/web/public/logos/sony.svg
  apps/web/public/logos/universal.svg
  apps/web/public/logos/warner.svg
  packages/shared/src/index.ts
  packages/shared/src/platform/brand/server.ts
  tsconfig.base.json
Due: unit, integration, e2e

fix: handle default brand fallback without recursion
  packages/shared/src/platform/brand/server.ts
Due: unit, integration

fix: prevent recursive default brand fallback
  packages/shared/src/platform/brand/server.ts
Due: unit, integration

chore: force Vercel redeploy
  apps/web/app/layout.tsx
Due: unit, integration, e2e

fix: branding module resolution
  apps/desktop/package.json
  apps/mobile/package.json
  apps/web/package.json
  apps/web/tsconfig.json
  packages/database/prisma/schema.prisma
  packages/database/seeds/dev/index.ts
  packages/database/seeds/prod/index.ts
  packages/database/seeds/test/index.ts
  packages/shared/src/platform/brand/server.ts
  packages/shared/src/platform/brand/types.ts
  pnpm-lock.yaml
  tsconfig.json
Due: unit, integration, e2e

fix: ensure loadBrandConfig survives production build
  apps/web/app/layout.tsx
  packages/shared/src/platform/brand/server.ts
Due: unit, integration, e2e

chore: apply pending updates
  apps/mobile/app/(tabs)/_layout.tsx
  apps/mobile/tsconfig.json
  apps/web/app/(marketing)/company/press/page.tsx
  apps/web/app/(marketing)/pricing/page.tsx
  apps/web/app/(marketing)/products/atlvs/page.tsx
  apps/web/app/(marketing)/products/coming-soon/page.tsx
  apps/web/app/(marketing)/products/compare/page.tsx
  apps/web/app/(marketing)/products/opendeck/page.tsx
  apps/web/app/(marketing)/resources/blog/page.tsx
  apps/web/app/(marketing)/resources/case-studies/page.tsx
  apps/web/app/(marketing)/resources/documentation/page.tsx
  apps/web/app/(marketing)/resources/guides/page.tsx
  apps/web/app/(marketing)/resources/whitepapers/page.tsx
  apps/web/app/_components/marketing/layout/Section.tsx
  packages/shared/src/platform/brand/server.ts
  packages/ui/src/atoms/Button/Button.tsx
Due: unit, integration, e2e

fix: ensure auth middleware redirects authenticated users
  apps/web/app/_components/marketing/MarketingHeader.tsx
  apps/web/middleware.ts
  packages/ui/src/styles/unified-design-system.css
Due: unit, integration, e2e

fix: resolve root page 500 error - export conflicts and missing components
  apps/web/app/_components/marketing/FeatureCard.tsx
  apps/web/app/_components/marketing/layout/Section.tsx
  packages/ui/src/core/theme/index.ts
  packages/ui/src/index.ts
  packages/ui/src/providers/GHXSTSHIPProvider.tsx
Due: unit, integration, e2e

fix: resolve TypeScript errors in UI package exports and GHXSTSHIPProvider
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  packages/ui/src/index.ts
  packages/ui/src/providers/GHXSTSHIPProvider.tsx
Due: unit, integration, e2e

fix: resolve all build errors and restore styling system
  apps/web/app/(app)/(shell)/marketplace/MarketplaceClient.tsx
  apps/web/app/_components/shell/AppShell.tsx
  apps/web/app/globals.css
Due: unit, integration, e2e

feat: enhance global CSS design tokens and utilities
  apps/web/app/_components/WorldClassInterfaceDemo.tsx
  apps/web/app/_components/WorldClassTemplatesDemo.tsx
  packages/ui/src/styles/unified-design-system.css
  scripts/normalize-color-tokens.sh
Due: unit, integration, e2e

chore: optimize workspace config to focus on web app
  package.json
  pnpm-workspace.yaml
Due: none

fix: resolve dashboard 500 error - fix syntax error and simplify parallel routes
  apps/web/app/(app)/(shell)/dashboard/@analytics/page.tsx
  apps/web/app/(app)/(shell)/dashboard/@notifications/page.tsx
  apps/web/app/(app)/(shell)/dashboard/DashboardClient.tsx
Due: unit, integration, e2e

fix: convert dashboard page to server component to fix 500 error
  apps/web/app/(app)/(shell)/dashboard/page.tsx
Due: unit, integration, e2e

fix: convert marketplace and opendeck pages to server components to prevent 500 errors
  apps/web/app/(app)/(shell)/marketplace/page.tsx
  apps/web/app/(app)/(shell)/opendeck/page.tsx
Due: unit, integration, e2e

docs: add comprehensive 500 error verification report
  docs/500_ERROR_VERIFICATION_REPORT.md
Due: none

feat: replace all screenshot mockups with Octopus doodle animations in marketing pages
  apps/web/app/(marketing)/products/atlvs/page.tsx
  apps/web/app/(marketing)/products/opendeck/page.tsx
  apps/web/app/_components/marketing/HeroSection.tsx
  apps/web/app/_components/marketing/OctopusDoodle.tsx
Due: unit, integration, e2e

docs: add comprehensive Octopus doodle replacement documentation
  docs/OCTOPUS_DOODLE_REPLACEMENT.md
Due: none

feat: implement neutral color system and enhance auth components
  NEUTRAL_COLOR_MIGRATION.md
  apps/web/app/auth/README.md
  apps/web/app/auth/_components/AuthForm.tsx
  apps/web/app/auth/_components/AuthLayout.tsx
  apps/web/app/auth/forgot-password/layout.tsx
  apps/web/app/auth/onboarding/OnboardingFlow.tsx
  apps/web/app/auth/onboarding/page.tsx
  apps/web/app/auth/onboarding/steps/FinalConfirmationStep.tsx
  apps/web/app/auth/onboarding/steps/OrganizationSetupStep.tsx
  apps/web/app/auth/onboarding/steps/PlanSelectionStep.tsx
  apps/web/app/auth/onboarding/steps/ProfileCompletionStep.tsx
  apps/web/app/auth/onboarding/steps/TeamInvitationStep.tsx
  apps/web/app/auth/onboarding/steps/VerifyEmailStep.tsx
  apps/web/app/auth/signin/page.tsx
  apps/web/app/auth/signup/SignUpForm.tsx
  apps/web/app/auth/signup/page.tsx
  apps/web/app/auth/signup/sign-up/page.tsx
  apps/web/app/auth/verify-email/page.tsx
  apps/web/next.config.mjs
  packages/ui/src/styles/unified-design-system.css
  packages/ui/src/tokens/NEUTRAL_COLOR_SYSTEM.md
  packages/ui/src/tokens/unified-design-tokens.ts
  supabase/migrations/20250110000000_add_organizations_created_by.sql
Due: unit, integration, e2e

refactor(workflows): Complete GitHub Actions optimization - 48% reduction
  .github/workflows/REMEDIATION_COMPLETE.md
  .github/workflows/WORKFLOW_AUDIT_REPORT.md
  .github/workflows/accessibility.yml
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/database-monitoring.yml
  .github/workflows/design-system-compliance.yml
  .github/workflows/desktop-build.yml
  .github/workflows/docker-build.yml
  .github/workflows/enterprise-compliance-enforcement.yml
  .github/workflows/enterprise-compliance.yml
  .github/workflows/mobile-build.yml
  .github/workflows/performance-regression.yml
  .github/workflows/performance.yml
  .github/workflows/pr-validation.yml
  .github/workflows/repo-audit-enforcement.yml
  .github/workflows/test.yml
  .github/workflows/validate-tokens.yml
  .github/workflows/validation.yml
  .github/workflows/visual-regression.yml
  .github/workflows/zero-tolerance-ci.yml
Due: none

fix: resolve 500 MIDDLEWARE_INVOCATION_FAILED errors with comprehensive error handling
  500_ERROR_FIXES.md
  ENVIRONMENT_SETUP.md
  QUICK_FIX.md
  apps/web/app/layout.tsx
  apps/web/lib/supabase/server.ts
  apps/web/middleware.ts
  package.json
  packages/shared/src/platform/brand/server.ts
  scripts/check-env.js
Due: unit, integration, e2e

fix: remove problematic static JSON imports causing middleware failures
  apps/web/app/layout.tsx
  apps/web/middleware.ts
  packages/shared/src/platform/brand/server.ts
Due: unit, integration, e2e
