Repository ghxstship/atlvs: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, e2e

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 80%
        threshold: 1%

  precision: 2
  round: down
  range: "70...100"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/*.stories.tsx"
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/node_modules/**"
  - "**/.next/**"
  - "**/dist/**"
  - "**/coverage/**"

flags:
  unit:
    paths:
      - apps/
      - packages/
    carryforward: true
  integration:
    paths:
      - apps/
      - packages/
    carryforward: true
  e2e:
    paths:
      - apps/web/
    carryforward: true

docs: Phase 2 complete - comprehensive summary
  PHASE_2_COMPLETE.md
Due: none

feat: Complete Phase 3 - Multi-Platform
  .github/workflows/desktop-build.yml
  .github/workflows/mobile-build.yml
  DESIGN_TOKEN_CONVERSION_README.md
  apps/desktop/package.json
  apps/desktop/src/main/index.ts
  apps/desktop/src/main/preload.ts
  apps/mobile/app.json
  apps/mobile/app/(tabs)/_layout.tsx
  apps/mobile/app/_layout.tsx
  apps/mobile/eas.json
  apps/mobile/package.json
  docs/DESIGN_TOKEN_AUDIT_COMPLETE.md
  docs/DESIGN_TOKEN_IMPLEMENTATION_GUIDE.md
  docs/DESIGN_TOKEN_QUICK_REFERENCE.md
  docs/ZERO_TOLERANCE_DESIGN_TOKEN_SUMMARY.md
  packages/shared/src/platform/hooks.ts
  packages/shared/src/platform/index.ts
  scripts/apply-design-token-fixes.sh
Due: unit, integration

docs: Phase 3 complete - comprehensive summary
  PHASE_3_COMPLETE.md
Due: none

feat: Complete Phase 4 - Tooling & Developer Experience
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  docs/DEVELOPER_ONBOARDING.md
  tooling/cli/package.json
  tooling/cli/src/commands/generate.ts
  tooling/cli/src/commands/setup.ts
  tooling/cli/src/index.ts
  tooling/eslint-config/package.json
  tooling/prettier-config/index.js
  tooling/prettier-config/package.json
  tooling/typescript-config/base.json
  tooling/typescript-config/package.json
Due: none

docs: Phase 4 complete - comprehensive summary
  PHASE_4_COMPLETE.md
Due: none

feat: Complete Phase 5 - Operations & Documentation
  docs/API_DOCUMENTATION.md
  docs/operations/COST_OPTIMIZATION.md
  docs/operations/DEPLOYMENT_RUNBOOK.md
  docs/operations/INCIDENT_RESPONSE.md
Due: none

docs: TRANSFORMATION COMPLETE - All 6 phases finished!
  PHASE_5_COMPLETE.md
  TRANSFORMATION_COMPLETE_FINAL.md
Due: none

feat: Achieve 100/100 score - Performance + Security excellence
  docs/PERFORMANCE_BENCHMARKS.md
  docs/SECURITY_AUDIT.md
Due: none

docs: PERFECT SCORE 100/100 - World-class excellence achieved!
  PERFECT_SCORE_ACHIEVED.md
Due: none

fix: disable framework detection to force Turbo filter
  vercel.json
Due: none

fix: remove failing ignoreCommand
  vercel.json
Due: none

fix: add missing dependencies (otplib, qrcode, radix-ui components)
  apps/web/package.json
  packages/ui/package.json
Due: unit, integration, e2e

fix: add @radix-ui/react-dialog and react-slot dependencies
  packages/ui/package.json
Due: unit, integration

fix: add dynamic export to csrf-token route and update middleware matcher
  apps/web/app/api/csrf-token/route.ts
  apps/web/middleware.ts
Due: unit, integration, e2e

fix: add dynamic export to remaining API routes to prevent static generation
  .eslintrc.design-tokens.js
  .github/workflows/ci.yml
  apps/web/app/api/v1/files/analytics/route.ts
  apps/web/app/api/v1/files/stats/route.ts
  apps/web/app/api/v1/procurement/analytics/route.ts
  apps/web/app/api/v1/procurement/catalog/stats/route.ts
  apps/web/app/api/v1/profile/activity/analytics/route.ts
  apps/web/app/api/v1/profile/analytics/route.ts
  apps/web/app/api/v1/profile/certifications/analytics/route.ts
  apps/web/app/api/v1/profile/contact/analytics/route.ts
  apps/web/app/api/v1/profile/emergency/analytics/route.ts
  apps/web/app/api/v1/profile/endorsements/analytics/route.ts
  apps/web/app/api/v1/profile/health/analytics/route.ts
  apps/web/app/api/v1/profile/history/analytics/route.ts
  apps/web/app/api/v1/profile/job-history/analytics/route.ts
  apps/web/app/api/v1/profile/overview/analytics/route.ts
  apps/web/app/api/v1/profile/performance/analytics/route.ts
  apps/web/app/api/v1/profile/professional/analytics/route.ts
  apps/web/app/api/v1/profile/travel/analytics/route.ts
  apps/web/app/api/v1/profile/uniform/analytics/route.ts
  apps/web/app/api/v1/programming/overview/analytics/route.ts
  apps/web/app/api/v1/programming/overview/route.ts
  docs/AUDIT_SUMMARY.md
  docs/DESIGN_TOKENS_GUIDE.md
  docs/TYPOGRAPHY_COLOR_AUDIT_REPORT.md
  infrastructure/docker/Dockerfile.web
  infrastructure/docker/README.md
  infrastructure/docker/configs/.gitkeep
  infrastructure/docker/scripts/.gitkeep
  infrastructure/docker/scripts/build.sh
  infrastructure/docker/scripts/clean.sh
  infrastructure/docker/scripts/logs.sh
  infrastructure/docker/scripts/start.sh
  infrastructure/docker/scripts/stop.sh
  package.json
  scripts/migrate-to-design-tokens.sh
  scripts/validate-design-tokens.ts
Due: unit, integration, e2e

fix: properly position dynamic export declarations in API routes
  apps/web/app/api/v1/profile/activity/analytics/route.ts
  apps/web/app/api/v1/profile/analytics/route.ts
  apps/web/app/api/v1/profile/certifications/analytics/route.ts
  apps/web/app/api/v1/profile/contact/analytics/route.ts
  apps/web/app/api/v1/profile/overview/analytics/route.ts
  apps/web/app/api/v1/profile/uniform/analytics/route.ts
Due: unit, integration, e2e

fix: correct dynamic export position in programming overview route
  apps/web/app/api/v1/programming/overview/route.ts
Due: unit, integration, e2e

fix: resolve 5 critical RLS security issues
  docs/RLS_SECURITY_FIX.md
  supabase/migrations/20251001000000_fix_rls_security_issues.sql
Due: none

fix: remediate all Vercel build warnings
  .temp-rls-fix.sql
  APPLY_RLS_FIX.md
  RLS_FIX_INSTRUCTIONS.md
  apply-migration-api.js
  apply-migration.js
  apps/web/app/(app)/(shell)/files/drawers/ViewFileDrawer.tsx
  apps/web/app/(app)/(shell)/files/featured/FeaturedClient.OLD.tsx
  apps/web/app/(app)/(shell)/files/featured/FeaturedClient.tsx
  apps/web/app/(app)/(shell)/finance/budgets/lib/budgets-service.ts
  apps/web/app/(app)/(shell)/finance/forecasts/lib/forecasts-service.ts
  apps/web/app/(app)/(shell)/finance/invoices/lib/invoices-service.ts
  apps/web/app/(app)/(shell)/finance/transactions/lib/transactions-service.ts
  apps/web/app/(app)/(shell)/marketplace/drawers/CreateListingDrawer.tsx
  apps/web/app/(app)/(shell)/marketplace/lib/api.ts
  apps/web/app/layout.tsx
  docs/DATABASE_LINTER_RESOLUTION.md
  docs/DATABASE_UNUSED_INDEXES_AUDIT.md
  docs/RLS_PERFORMANCE_FIX.md
  package.json
  pnpm-lock.yaml
  scripts/apply-rls-fix.js
  scripts/verify-database-indexes.sql
  supabase/migrations/20251001000000_fix_rls_performance.sql
Due: unit, integration, e2e

fix: replace hardcoded values with design tokens in FeaturedClient
  apps/web/app/(app)/(shell)/files/featured/FeaturedClient.tsx
Due: unit, integration, e2e

fix: eliminate all 66 critical design token violations + update hook
  .cascade/CODE_STANDARDS_CHECKLIST.md
  .husky/pre-commit
  packages/ui/scripts/validate-tokens.ts
  packages/ui/src/styles.css
Due: unit, integration

fix: skip CSS custom property definitions in token validation
  packages/ui/scripts/validate-tokens.ts
Due: unit, integration

chore: finalize design token cleanup
  REMAINING_TOKEN_WARNINGS.md
  packages/ui/scripts/validate-tokens.ts
  packages/ui/src/styles.css
Due: unit, integration

fix: normalize CreateListingDrawer export for ESM compatibility
  apps/web/app/(app)/(shell)/marketplace/drawers/CreateListingDrawer.tsx
Due: unit, integration, e2e

fix: add missing closing brace in CreateListingDrawer
  apps/web/app/(app)/(shell)/marketplace/drawers/CreateListingDrawer.tsx
Due: unit, integration, e2e

fix: resolve build errors - middleware imports, UI exports, auth server client
  apps/web/middleware.ts
  package.json
  packages/auth/src/server.ts
  packages/ui/src/index.ts
  pnpm-lock.yaml
Due: unit, integration, e2e

fix: complete remaining build remediations
  apps/web/lib/supabase/server.ts
  packages/ui/src/atoms/Button/Button.tsx
  packages/ui/src/organisms/Card/index.ts
Due: unit, integration, e2e

fix: revert .js extensions in middleware imports
  apps/web/middleware.ts
Due: unit, integration, e2e

fix: remove duplicate IconButton from Button atoms
  packages/ui/src/atoms/Button/Button.tsx
Due: unit, integration

fix: resolve UI build warnings and middleware cookie handling
  apps/web/lib/supabase/server.ts
  packages/ui/src/organisms/Navigation/Navigation.tsx
Due: unit, integration, e2e

fix: await cookies() call and resolve Sidebar export path
  apps/web/lib/supabase/server.ts
  packages/ui/src/components/index.ts
  packages/ui/src/organisms/Sidebar/Sidebar.tsx
Due: unit, integration, e2e

fix: add missing default exports for page components
  apps/web/app/(app)/(shell)/dashboard/DashboardClient.tsx
  apps/web/app/(app)/(shell)/jobs/assignments/AssignmentsClient.tsx
Due: unit, integration, e2e

fix: simplify middleware to resolve MIDDLEWARE_INVOCATION_FAILED error
  apps/web/middleware.ts
Due: unit, integration, e2e

fix: proper middleware implementation with full auth and security headers
  apps/web/middleware.ts
Due: unit, integration, e2e

fix: explicitly declare edge runtime for middleware
  apps/web/middleware.ts
Due: unit, integration, e2e

fix: remove runtime declaration from middleware
  apps/web/middleware.ts
Due: unit, integration, e2e

refactor: completely rebuild middleware for Edge Runtime stability
  apps/web/middleware.ts
Due: unit, integration, e2e
