Repository ghxstship/atlvs: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, e2e

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 80%
        threshold: 1%

  precision: 2
  round: down
  range: "70...100"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/*.stories.tsx"
  - "**/*.config.ts"
  - "**/*.config.js"
  - "**/node_modules/**"
  - "**/.next/**"
  - "**/dist/**"
  - "**/coverage/**"

flags:
  unit:
    paths:
      - apps/
      - packages/
    carryforward: true
  integration:
    paths:
      - apps/
      - packages/
    carryforward: true
  e2e:
    paths:
      - apps/web/
    carryforward: true

fix: wrap middleware in try-catch with fallback behavior
  apps/web/middleware.ts
Due: unit, integration, e2e

fix: disable next-intl plugin causing middleware failures
  apps/web/next.config.js
Due: none

test: ultra-minimal middleware to isolate Edge Runtime issue
  apps/web/middleware.ts
Due: unit, integration, e2e

fix: restore full middleware logic with Edge Runtime compatible APIs
  apps/web/app/(app)/(shell)/files/drawers/ViewFileDrawer.tsx
  apps/web/middleware.ts
Due: unit, integration, e2e

fix: resolve critical cookies() build error and component imports
  DEPLOYMENT_READY.md
  apps/web/app/(app)/(shell)/files/drawers/ViewFileDrawer.tsx
  packages/auth/src/session-manager.ts
  packages/ui/src/UnifiedDesignSystem.tsx
  packages/ui/src/molecules/index.ts
  packages/ui/src/organisms/Sidebar/Sidebar.tsx
Due: unit, integration, e2e

fix: disable standalone output mode for Vercel deployment
  apps/web/next.config.mjs
Due: unit, integration, e2e

fix: add outputDirectory to vercel.json for monorepo
  vercel.json
Due: none

fix: add 'use client' directive to Toast component
  packages/ui/src/components/Toast.tsx
Due: unit, integration

fix: add complete branding configuration for default brand
  apps/web/branding/config/default.brand.json
Due: unit, integration, e2e

fix: add 'use client' directives to Button, Badge, and Card components
  packages/ui/src/atoms/Badge/Badge.tsx
  packages/ui/src/atoms/Button/Button.tsx
  packages/ui/src/organisms/Card/Card.tsx
Due: unit, integration

fix: export GHXSTSHIPProvider from UI package
  packages/ui/src/index.ts
Due: unit, integration

fix: export cn utility function from UI package
  packages/ui/src/index.ts
Due: unit, integration

fix: correct Input import in NewsletterSignup component
  apps/web/app/_components/marketing/NewsletterSignup.tsx
Due: unit, integration, e2e

fix: move vercel.json to apps/web for proper monorepo deployment
  apps/web/vercel.json
Due: unit, integration, e2e

fix: remove framework null from vercel.json
  apps/web/vercel.json
Due: unit, integration, e2e

fix: simplify vercel.json for Root Directory deployment
  vercel.json
Due: none

fix: correct vercel.json for root-level deployment
  vercel.json
Due: none

fix: move vercel.json to apps/web for proper Next.js detection
  apps/web/vercel.json
  vercel.json
Due: unit, integration, e2e

fix: remove custom installCommand to fix Next.js detection
  apps/web/vercel.json
Due: unit, integration, e2e

fix: bypass framework detection with framework: null
  apps/web/vercel.json
Due: unit, integration, e2e

fix: configure Vercel for monorepo Next.js detection
  apps/web/vercel.json
  commitlint.config.js
  vercel.json
Due: unit, integration, e2e

fix: move vercel.json to apps/web and remove invalid rootDirectory property
  apps/web/vercel.json
  package.json
  pnpm-lock.yaml
Due: unit, integration, e2e

fix: enable build scripts for critical dependencies in pnpm
  .npmrc
Due: none

fix: disable Husky in CI/CD and enable pnpm build scripts
  .npmrc
  apps/web/vercel.json
  package.json
  packages/ui/package.json
Due: unit, integration, e2e

fix: simplify Vercel config to use auto-detection
  .npmrc
  apps/web/vercel.json
Due: unit, integration, e2e

fix: enable standalone output for Next.js
  apps/web/next.config.mjs
Due: unit, integration, e2e

fix: add outputFileTracingRoot for monorepo
  apps/web/next.config.mjs
Due: unit, integration, e2e

fix: upgrade to Next.js 15 and React 19
  apps/web/next.config.mjs
  apps/web/package.json
Due: unit, integration, e2e

fix: remove ssr: false from Server Components for Next.js 15
  apps/web/app/(app)/(shell)/marketplace/create/page.tsx
  apps/web/app/_components/dynamic/index.tsx
Due: unit, integration, e2e

fix: mark marketing route group root as client component
  apps/web/app/(marketing)/page.tsx
Due: unit, integration, e2e

feat: upgrade monorepo to Next.js 15.5.4 and React 19.2.0
  apps/web/next-env.d.ts
  apps/web/next.config.js
  apps/web/next.config.mjs
  apps/web/package.json
  package.json
  packages/analytics/package.json
  packages/application/package.json
  packages/auth/package.json
  packages/data-view/package.json
  packages/i18n/package.json
  packages/shared/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: unit, integration, e2e

fix: convert marketing page to server component wrapper
  apps/web/app/(marketing)/page.tsx
Due: unit, integration, e2e

refactor: convert Project interface to proper DDD aggregate root
  packages/application/src/commands/projects/create-project/CreateProjectHandler.ts
  packages/application/src/mappers/ProjectMapper.ts
  packages/domain/src/modules/projects/Project.ts
Due: unit, integration

refactor: enhance Project aggregate defaults and getters
  packages/domain/src/modules/projects/Project.ts
Due: unit, integration

chore(web): align Next config for Vercel
  apps/web/next.config.pwa.mjs
Due: unit, integration, e2e

fix: ensure marketing client manifest exists
  apps/web/app/(marketing)/page.tsx
  apps/web/app/page.tsx
  apps/web/package.json
  apps/web/scripts/fix-client-manifest.mjs
Due: unit, integration, e2e

fix: resolve root page runtime error
  apps/web/app/_components/marketing/HeroSection.tsx
  apps/web/server.pid
Due: unit, integration, e2e

fix: resolve root page runtime error - MarketingHeader.tsx
  apps/web/app/_components/marketing/MarketingHeader.tsx
Due: unit, integration, e2e

fix: resolve remaining runtime errors in navigation components
  apps/web/app/_components/marketing/MarketingFooter.tsx
  apps/web/app/_components/marketing/navigation/MobileMenu.tsx
  apps/web/app/_components/marketing/navigation/NavigationDropdown.tsx
  apps/web/server.pid
Due: unit, integration, e2e
